# Environment & Secrets
.env
*.env

# SQLite Databases
*.db
*.sqlite
*.sqlite3

# Python Bytecode & Environments
__pycache__/
*.py[cod]
.venv/
venv/
ENV/

# OS / Editor Files
.DS_Store
.vscode/
.idea/

# Temporary media files
/tmp/
assets/output/